
<div class="navigation">
    <ul>
        <li class="list" [class.active]="viewMode=='personal'">
            <a (click)="viewMode='personal'" >
                <span class="icon"><i class="fas fa-user-circle"></i></span>
                <span class="title">Personal Details</span>
            </a>
        </li>
        <li class="list" [class.active]="viewMode=='professional'">
            <a (click)="viewMode='professional'" >
                <span class="icon"><i class="fas fa-user-tie"></i></span>
                <span class="title">Professional Details</span>
            </a>
        </li>
        <li class="list" [class.active]="viewMode=='attachments'">
            <a (click)="viewMode='attachments'" >
                <span class="icon"><i class="fas fa-link"></i></span>
                <span class="title">Attachments</span>
            </a>
        </li>
    </ul>
</div>


<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'personal'">
        <app-personal></app-personal>
    </div>
    <div *ngSwitchCase="'professional'">
        <app-professional></app-professional>
    </div>
    <div *ngSwitchCase="'attachments'">
        <app-attachments></app-attachments>
    </div>
</div>




